<div class="row page-titles">
  <div class="col-md-12">
    Sign Up
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="copy-text col-md-6" />
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field copy-text">
          <%= f.label :select_an_organization %><br />
          <%= f.collection_select :organization_id, Organization.all,:id,:title, include_blank: true %>
        </div>        

        <div class="field">
          <%= f.label :password %>
          <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


