<nav class="navbar navbar-light bg-faded navbar navbar-light bg-faded">
  <%= link_to("Kudos!", root_path, :class => "navbar-brand", :id =>"nav-logo-font") %>
  <%= link_to("Welcome, #{current_member.email}!", destroy_member_session_path, method: :delete, :class => "navbar-brand") if current_member %>
  <% if !current_member %>
  <%= link_to("Sign Up", new_member_registration_path, :class => "navbar-brand") %>
  <%= link_to("Log In", new_member_session_path, :class => "navbar-brand") %> 
  <% elsif current_member %>
  <%= link_to("Log Out", destroy_member_session_path, method: :delete, :class => "navbar-brand") %>
  <% end %>
</nav>