<nav class="navbar navbar-light bg-faded navbar navbar-light bg-faded col-md-12 navbar color">
  <% if !current_member %>
    <%= link_to("Kudos!", root_path, :class => "navbar-brand top-menu-item", :id =>"nav-logo-font") %>
  <% else %>
    <%= link_to("Kudos!", dashboard_path, :class => "navbar-brand top-menu-item", :id =>"nav-logo-font") %>
  <% end %>

  <%= link_to("Welcome, #{current_member.email}!", destroy_member_session_path, method: :delete, :class => "navbar-brand top-menu-item") if current_member %>
  <% if !current_member %>
  <%= link_to("Sign Up", new_member_registration_path, :class => "top-menu-item") %>
  <%= link_to("Log In", new_member_session_path, :class => "navbar-brand copy-text top-menu-item") %> 
  <% elsif current_member %>
  <%= link_to("Log Out", destroy_member_session_path, method: :delete, :class => "navbar-brand top-menu-item") %>
  <% end %>
</nav>